<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="app/src/style.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="app/src/angular.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/config/main.controller.js"></script>
    <script src="app/components/login.component.js"></script>
    <script src="app/components/chat.component.js"></script>
    <script src="app/config/messages.constant.js"></script>
    <script src="app/components/chatScroll.directive.js"></script>
    <script src="app/services/chat.service.js"></script>
    <script src="app/services/auth.service.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</head>
<body ng-app="myApp" >
<div id="container" ng-controller="MainController as maincontroller">
    <md-content md-theme="blue">
        <section layout="row" layout-align="center center">
            <md-button class="md-raised md-primary left" ui-sref="login">Login</md-button>
            <md-button class="md-raised md-primary middle" ui-sref="chat">Chat</md-button>
            <md-button class="md-raised md-primary right" ng-click="maincontroller.logOut()">Logout</md-button>
        </section>
        <ui-view layout="row" layout-align="center center"></ui-view>
    </md-content>
    <div id="fb-root"></div>
</div>
</body>
</html>